<div>
  <form class="form-horizontal" ng-submit="edit(currentRole.id,Name,UserSelect,ProjectSelect)" name="roleRegister">
    <div class="form-group" ng-class="{'has-error':roleRegister.Name.$invalid,'has-success':roleRegister.Name.$valid}">
      <label class="col-md-3 control-label" for="Name">Nom</label>
      <div class="col-md-4">
        <input id="Name" type="text" class="form-control" name="Name" ng-model="Name" ng-required="!(Name.length)"/>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error':roleRegister.Name.$invalid,'has-success':roleRegister.Name.$valid}">
      <label class="col-md-3 control-label" for="UserSelect">Utilisateur</label>
      <div class="col-md-4">
        <select ng-init="UserSelect" name="UserSelect" class="col-md-12" id="UserSelect" ng-model="UserSelect"
                ng-options="user.id as user.name + ' ' + user.surname for user in users"></select>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error':roleRegister.Name.$invalid,'has-success':roleRegister.Name.$valid}">
      <label class="col-md-3 control-label" for="ProjectSelect">Projet</label>
      <div class="col-md-4">
        <select ng-init="ProjectSelect" name="ProjectSelect" class="col-md-12" id="ProjectSelect" ng-model="ProjectSelect"
                ng-options="project.id as project.title + '(' + project.year + ')' for project in projects"></select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <input type="submit" class="btn" ng-class="{'btn-danger':roleRegister.$invalid,'btn-success':roleRegister.$valid}" value="Valider" ng-disabled="roleRegister.$invalid"/>
      </div>
    </div>
    <div class="alert alert-{{op.status}}" ng-show="op.done">
      {{op.msg}}
    </div>
  </form>
</div>
