<div>
  <h3 class="col-md-6">Liste des roles:</h3>
  <label class="col-md-6"><input ng-model="searchRole" placeholder="Chercher un role">
    <a ng-href="#/roles/add" class="glyphicon glyphicon-plus"></a></label>
  <ul class="col-md-12">
    <li id="role{{role.id}}" ng-repeat="role in roles | filter : searchRole">
      <a class="col-md-10" ng-href="#/roles/{{role.id}}">User n°{{role.UserId}}: {{role.name}} dans le projet n°{{role.ProjectId}}</a>
      <a ng-href="#/roles/{{role.id}}/edit" class="glyphicon glyphicon-pencil"></a>
      <a ng-click="remove(role.id)" class="glyphicon glyphicon-trash"></a></li>
  </ul>
</div>
