<div ng-show="currentRole">
  <p>Nom: {{currentRole.name}}</p>
  <p>Utilisateur associé: <a ng-href="#/users/{{currentRole.UserId}}">{{currentRole.UserId}}</a></p>
  <p>Projet associé: <a ng-href="#/projects/{{currentRole.ProjectId}}">{{currentRole.ProjectId}}</a></p>
</div>
<h3 class="alert alert-danger" ng-show="!currentRole">Role inexistant</h3>
