<div>
  <form class="form-horizontal" ng-submit="add(Name,Surname,Email,Website)" name="userRegister">
    <div class="form-group" ng-class="{'has-error':userRegister.Name.$invalid,'has-success':userRegister.Name.$valid}">
      <label class="col-md-3 control-label" for="Name">Nom</label>
      <div class="col-md-4">
        <input id="Name" type="text" class="form-control" name="Name" ng-model="Name" ng-required="!(Name.length)"/>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error':userRegister.Surname.$invalid,'has-success':userRegister.Surname.$valid}">
      <label class="col-md-3 control-label" for="Surname">Prénom</label>
      <div class="col-md-4">
        <input id="Surname" type="text" class="form-control" name="Surname" ng-model="Surname" ng-required="!(Surname.length)"/>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error':userRegister.Email.$invalid,'has-success':userRegister.Email.$valid}">
      <label class="col-md-3 control-label" for="Email">Email</label>
      <div class="col-md-4">
        <input id="Email" type="email" class="form-control" name="Email" ng-model="Email" ng-required="!(Email.length)"/>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error':userRegister.Website.$invalid,'has-success':userRegister.Website.$valid}">
      <label class="col-md-3 control-label" for="Website">Site internet</label>
      <div class="col-md-4">
        <input id="Website" type="url" class="form-control" name="Website" ng-model="Website"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <input type="submit" class="btn" ng-class="{'btn-danger':userRegister.$invalid,'btn-success':userRegister.$valid}" value="Valider" ng-disabled="userRegister.$invalid"/>
      </div>
    </div>
    <div class="alert alert-{{op.status}}" ng-show="op.done">
      {{op.msg}}
    </div>
  </form>
</div>
