<div>
  <h3 class="col-md-6">Liste des utilisateurs:</h3>
  <label class="col-md-6"><input ng-model="searchUser" placeholder="Chercher un projet">
    <a ng-href="#/users/add" class="glyphicon glyphicon-plus"></a></label>
  <ul class="col-md-12">
    <li id="user{{user.id}}" ng-repeat="user in users | filter : searchUser">
      <a class="col-md-10" ng-href="#/users/{{user.id}}">{{user.name}} {{user.surname}}</a>
      <a ng-href="#/users/{{user.id}}/edit" class="glyphicon glyphicon-pencil"></a>
      <a ng-click="remove(user.id)" class="glyphicon glyphicon-trash"></a></li>
  </ul>
</div>
