<div ng-show="currentUser">
  <p>Nom: {{currentUser.name}}</p>
  <p>Prénom: {{currentUser.surname}}</p>
  <p>Email: {{currentUser.email}}</p>
  <p>Site internet: {{currentUser.website}}</p>
  <div ng-show="!currentUser.projects.length()">
    <h3 class="col-md-6">Liste des projets:</h3>
    <label class="col-md-6"><input ng-model="searchProject" placeholder="Chercher un projet"></label>
    <ul class="col-md-12">
      <li ng-repeat="project in currentUser.projects | filter : searchProject">
        <span ng-repeat="role in currentUser.roles | filter:{'ProjectId':project.id}:true">
          {{role.name}} dans le projet : </span><a ng-href="#/projects/{{project.id}}">
          {{project.title}}({{project.year}}).</a></li>
    </ul>
  </div>
  <h4 class="alert alert-danger" ng-show="currentUser.projects.length()">L'utilisateur n'est associé à aucun projet</h4>
</div>
<h3 class="alert alert-danger" ng-show="!currentUser">Utilisateur inexistant</h3>
