<div>
  <form class="form-horizontal" ng-submit="add(Title,Year,Descr)" name="projectRegister">
    <div class="form-group" ng-class="{'has-error':projectRegister.Title.$invalid,'has-success':projectRegister.Title.$valid}">
      <label class="col-md-3 control-label" for="Title">Titre</label>
      <div class="col-md-4">
        <input id="Title" type="text" class="form-control" name="Title" ng-model="Title" ng-required="!(Title.length)"/>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error':projectRegister.Year.$invalid,'has-success':projectRegister.Year.$valid}">
      <label class="col-md-3 control-label" for="Year">Année</label>
      <div class="col-md-4" ng-controller="ProjectsCtrl">
        <number-only-input input-value="Year" id="Year" name="Year" ng-model="Year" ng-required="!(Year.length)">
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error':projectRegister.Descr.$invalid,'has-success':projectRegister.Descr.$valid}">
      <label class="col-md-3 control-label" for="Descr">Description</label>
      <div class="col-md-4">
        <input id="Descr" type="Descr" class="form-control" name="Descr" ng-model="Descr" ng-required="!(Descr.length)"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <input type="submit" class="btn" ng-class="{'btn-danger':projectRegister.$invalid,'btn-success':projectRegister.$valid}" value="Valider" ng-disabled="projectRegister.$invalid"/>
      </div>
    </div>
    <div class="alert alert-{{op.status}}" ng-show="op.done">
      {{op.msg}}
    </div>
  </form>
</div>
