<div>
  <form class="form-horizontal" ng-submit="edit(currentProject.id,Title,Year,Descr)" name="projectRegister2">
    <div class="form-group" ng-class="{'has-error':projectRegister2.Title.$invalid,'has-success':projectRegister2.Title.$valid}">
      <label class="col-md-3 control-label" for="Title">Titre</label>
      <div class="col-md-4">
        <input id="Title" type="text" class="form-control" name="Title" value="Title" ng-model="Title" ng-required="!(Title.length)"/>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error':projectRegister2.Year.$invalid,'has-success':projectRegister2.Year.$valid}">
      <label class="col-md-3 control-label" for="Year">Année</label>
      <div class="col-md-4" ng-controller="ProjectsCtrl">
        <number-only-input input-value="Year" id="Year" name="Year" ng-model="Year" ng-required="!(Year.length)">
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error':projectRegister2.Descr.$invalid,'has-success':projectRegister2.Descr.$valid}">
      <label class="col-md-3 control-label" for="Descr">Description</label>
      <div class="col-md-4">
        <input id="Descr" type="Descr" class="form-control" name="Descr" value="Descr" ng-model="Descr" ng-required="!(Descr.length)"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <input type="submit" class="btn" ng-class="{'btn-danger':projectRegister2.$invalid,'btn-success':projectRegister2.$valid}" value="Valider" ng-disabled="projectRegister2.$invalid"/>
      </div>
    </div>
    <div class="alert alert-{{op.status}}" ng-show="op.done">
      {{op.msg}}
    </div>
  </form>
</div>
