<div>
  <h3 class="col-md-6">Liste des projets:</h3>
  <label class="col-md-6"><input ng-model="searchProject" placeholder="Chercher un projet">
    <a ng-href="#/projects/add" class="glyphicon glyphicon-plus"></a></label>
  <ul class="col-md-12">
    <li id="project{{project.id}}" ng-repeat="project in projects | filter : searchProject">
      <a class="col-md-10" ng-href="#/projects/{{project.id}}">{{project.title}}({{project.year}})</a>
      <a ng-href="#/projects/{{project.id}}/edit" class="glyphicon glyphicon-pencil"></a>
      <a ng-click="remove(project.id)" class="glyphicon glyphicon-trash"></a></li>
  </ul>
</div>
