<div ng-show="currentProject">
  <p>Titre: {{currentProject.title}}</p>
  <p>Année: {{currentProject.year}}</p>
  <p>Description: {{currentProject.description}}</p>
  <div ng-show="!currentProject.users.length()">
    <h3 class="col-md-6">Liste des contributeurs:</h3>
    <label class="col-md-6"><input ng-model="searchUser" placeholder="Chercher un contributeur"></label>
    <ul class="col-md-12">
      <li ng-repeat="user in currentProject.users | filter : searchUser">
        <a ng-href="#/users/{{user.id}}">{{user.name}} {{user.surname}} </a>
        <span ng-repeat="role in currentProject.roles | filter:{'UserId':user.id}:true">
          a été {{role.name}} dans le projet.</span></li>
    </ul>
  </div>
  <div>
    <h3 class="col-md-12">Ajout d'un contributeur:</h3>
    <div>
      <form class="form-horizontal col-md-12" ng-submit="addUser(Name,UserSelect,currentProject.id)" name="userAdd">
        <div class="form-group" ng-class="{'has-error':userAdd.Name.$invalid,'has-success':userAdd.Name.$valid}">
          <label class="col-md-3 control-label" for="Name">Nom</label>
          <div class="col-md-4">
            <input id="Name" type="text" class="form-control" name="Name" ng-model="Name" ng-required="!(Name.length)"/>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error':userAdd.Name.$invalid,'has-success':userAdd.Name.$valid}">
          <label class="col-md-3 control-label" for="UserSelect">Utilisateur</label>
          <div class="col-md-4">
            <select ng-init="UserSelect" name="UserSelect" class="col-md-12" id="UserSelect" ng-model="UserSelect"
                    ng-options="user.id as user.name + ' ' + user.surname for user in users"></select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <input type="submit" class="btn" ng-class="{'btn-danger':userAdd.$invalid,'btn-success':userAdd.$valid}" value="Valider" ng-disabled="userAdd.$invalid"/>
          </div>
        </div>
        <div class="alert alert-{{op.status}}" ng-show="op.done">
          {{op.msg}}
        </div>
      </form>
    </div>

  </div>
  <h4 class="alert alert-danger" ng-show="currentProject.users.length()">L'utilisateur n'est associé à aucun projet</h4>
</div>
<h3 class="alert alert-danger" ng-show="!currentProject">Projet inexistant</h3>
